*{
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: #576490;
    
}

.content{
    margin-left: 20%;
    margin-right: 20%;
    background-color: #677DAE;
    overflow-y: hidden;
    overflow-x: hidden;
}

.nav-container{
    position: fixed;
    height: 60px;
    width: 60%;
    z-index: 2;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background: #7796CB;
    color: #C9CAD9;
    padding: 10px 0px;
    box-shadow: 0 30px 60px rgba(0,0,0,.2);
}

.nav-bar a{
    transition: all 0.3s ease 0s;
    color: white;
}

.nav-bar a.active,
.nav-bar a:visited {
  font-style: normal;
  color: white;
}

.nav-bar a:hover {
    color: #677DAE;
}

.topnavitem{
    font-size: 40px;
}

.profile{
    display: flex;
    height: 280px;
}

.pp{
    margin: 0% 10%;
}

.slogan-container{
    border:#000;
}

.slogan{
    width: 250px;
    font-family: "Varela Round", sans-serif;
    font-size: 24.5px;
}

img.ppcontent{
    width: 250px;
    height: auto;
    border-radius: 100%;
}

.pd{
    margin: 2%;
    color: #D9D9D9;
    font-size: 25px;
}

.icon-div{
    margin: 22px 0px;
}

img.icon{
    width: 50px;
    height: auto;
    margin-right: 35px;
}

h1{
    text-align: center;
    color: #A3BCF9;
    font-size: 35px;
    padding-top: 80px;
    padding-bottom: 30px;
}

.checkpoint{
    padding-top: 30px;
    padding-bottom: 30px;
}

.image-container {
    position: relative;
    display: inline-block;
    height: 300px;
    width: 400px;
    border-radius: 10%;
    border: 2px solid #fff;
}
  
.image-container img {
    object-fit: cover;
    display: block;
    width: 100%; /* Ensure the image takes the full width of its container */
    height: 100%; /* Maintain aspect ratio */
    overflow: hidden;
    border-radius: 10%;
    filter: blur(10px); /* Apply a blur effect initially */
    transition: filter 0.5s ease; /* Smooth transition for the blur effect */
}

.image-container:hover img {
    filter: blur(0); /* Remove the blur effect on hover */
  }

.centered-text {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    text-align: center;
    padding: 0px 0px;
    transition: color 0.5s ease;
    font-size: 25px;
  }

  .image-container:hover .centered-text {
    color: transparent; /* Hide the text on hover */
  }
  
  a:active{
    color:#000;
  }

.checkpoint:nth-child(odd){
    border-left: 3px solid #fff;   
    transform: translateX(50%);
    text-align: left;
    padding-left: 30px;
}

.checkpoint:nth-child(even){
    border-right: 3px solid #fff;   
    transform: translateX(-49.7%);
    text-align: right;
    padding-right: 30px;
}

.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before {
    content:'';
    background: #fff;
    width: 30px;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before{
    left:0
}

.checkpoint:nth-child(even)::before{
    right:0
}

.fade-in{
    opacity: 0;
    -webkit-transition: opacity 2500ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.progress-container{
    width: 100%;
    height: 350px;
}

.circle-container{
    width: 100%;
    height: 200px;
}

.circle-container{
    display: flex;
    justify-content: space-around;
}

svg.circle{
    width: 200px;
    height: 200px;
}

.progress-container{
    background-color: #7796CB;
    display: flex;
    flex-direction: column;
}

.cir{
    stroke: #A3BCF9;
    stroke-width: 20;
    fill: transparent;
    stroke-dasharray: 439.8839416503906;
    stroke-dashoffset: 439.8839416503906;
    stroke-linecap: round;
    transform-origin: 100px 100px;
    transform: rotate(-90deg);
}

.outer-circle, .inner-circle{
    stroke: #677DAE;
    stroke-width: 5;
    fill: transparent;
}

.circle1{
    transition: stroke-dashoffset 1s ease;
    animation: draw1 3s ease;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

.circle2{
    transition: stroke-dashoffset 1s ease;
    animation: draw2 3s ease;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

.circle3{
    transition: stroke-dashoffset 1s ease;
    animation: draw3 3s ease;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

@keyframes draw1{
    to {
        stroke-dashoffset: 175.95357666; /*60%*/
    }
}

@keyframes draw2{
    to {
        stroke-dashoffset: 131.965182495; /*70%*/
    }
}

@keyframes draw3{
    to {
        stroke-dashoffset: 307.918759155; /*30%*/
    }
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text{
    font-size: 30px;
    font-family: "Varela Round", sans-serif;
    color: black;
    font-style: normal;
}

.text2{
    font-size: 25px;
    font-family: "Varela Round", sans-serif;
    color: black;
    font-style: normal;
}

.skillset-container {
    flex-grow: 1;
}

.skillset-text{
    flex-grow: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
}

.skillset{
    display: flex;
    justify-content: space-around;

}

.text3 {
    color: #fff;
    font-family: "Varela Round", sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 32px;
    position: relative;
    text-align: center;
    transform: translateY(-50px);
}

.shape {
    fill: transparent;
    stroke-width: 8px;
    stroke: #A3BCF9;
}

.shape1{
    stroke-dasharray: 165 760;
    stroke-dashoffset: -459;
}

.shape2{
    stroke-dasharray: 144 760;
    stroke-dashoffset: -468;
}

.shape3{
    stroke-dasharray: 240 760;
    stroke-dashoffset: -420;
}

@keyframes draw {
    100% {
        stroke-dasharray: 760;
        stroke-dashoffset: 0;
        stroke-width: 4px;
    }
}

.svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
}

.project-showcase-container {
	font-family: Lato, sans-serif;
	margin: 0;
    padding-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

img.project-image {
	width: 100%;
	display: block;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	transition: transform 1000ms;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	max-width: 100%;
	width: 70rem;
}

figure {
	margin: 0;
	position: relative;
	overflow: hidden;
}

figure::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200%;
	height: 200%;
	background: rgba(0, 0, 0, 0.5);
	transform-origin: center;
	opacity: 0;
	transform: scale(2);
	transition: opacity 300ms;
}

figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	place-items: center;
	text-align: center;
	padding: 1rem;
	color: white;
	font-size: 1.2rem;
	z-index: 1;
	opacity: 0;
	transition: opacity 600ms, transform 600ms;
}

a.project-showcase:is(:hover, :focus) figure::after {
	opacity: 1;
}

a.project-showcase:is(:hover, :focus) figcaption {
	opacity: 1;
	transition: opacity 600ms;
}

figcaption {
    transform: translateY(2rem);
}

figure::after {
    border-radius: 50%;
    opacity: 1;
    transform: scale(0);
    transition: transform 900ms;
}

a.project-showcase:is(:hover, :focus) figure::after {
    transform: scale(2.5);
}

a.project-showcase:is(:hover, :focus) figcaption {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 600ms 400ms, transform 600ms 400ms;
}

a.project-showcase:is(:hover, :focus) img {
    transform: scale(1.2);
}

.certificate-container{
    background-color: #7796CB ;
}

#image-track > .image{
    width: 350px;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

#image-track {
    display: flex;
    gap: 20px;
    position: relative;
    transform: translate(0%, 0%); 
    left:34.5%;
    top:50%;
    user-select: none;
    margin-bottom: 70px;
}

.footer {
    left: 0;
    bottom: 0;
    padding: 5px;
    width: 100%;
    background-color: #7796CB;
    color: white;
    text-align: center;
}